<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link top-item">
        <span class="material-icons">filter_drama</span>
      </a>
    </li>
    <li class="nav-item clickable">
      <a routerLink="/user-profile" class="nav-link">
        <span class="material-icons">account_circle</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/chat-space" [queryParams]="{section: 'chats'}" class="nav-link">
        <span class="material-icons">sms</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/chat-space" [queryParams]="{section: 'contacts'}" class="nav-link">
        <span class="material-icons">people_alt</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/user-settings" class="nav-link">
        <span class="material-icons">settings</span>
      </a>
    </li>
    <li class="nav-item">
      <a (click)="signOut()" class="nav-link">
        <span class="material-icons">login</span>
      </a>
    </li>
  </ul>
</nav>

