<div class="settings-container">
  <div id="settings-header">
    <h2>
      Settings
    </h2>
  </div>
  <div id="settings-image">
    <div class="image">
      <img id="user-avatar"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0sCAvrW1yFi0UYMgTZb113I0SwtW0dpby8Q&usqp=CAU"
        alt="Avatar" #user-avatar>
      <button id="edit-image-button" (click)="fileInput.click()" #edit-image-button>
        <span class="material-icons">create</span>
      </button>
      <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
    </div>
  </div>
  <div id="settings-username"> {{usernameCopy}}</div>

  <div id="settings-content">
    <div class="editable">

      <div class="editable-item">
        <div class="label"> Name: </div>
        <div class="editable-area">
          <input type="text" class="input-form" [(ngModel)]="currentUser.name">
        </div>
      </div>

      <div class="editable-item">
        <div class="label"> Email: </div>
        <div class="editable-area">
          <input type="text" class="input-form" [(ngModel)]="currentUser.email">
        </div>
      </div>

      <div class="button-container">
        <button class="save-button" (click)="updateUser()"> Save </button>
      </div>
    </div>
  </div>
</div>
