* {
  margin: 0;
}

body {
  background-color: #202120;
  color: #f0f5f0;
  margin: 0;
  padding: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: var(--bg-chatroom-primary);
  color: var(--text-secondary)
}

.chat-header {
  display: flex;
  flex-direction: row;
  height: 5rem;
}

.mat-divider {
  color: var(--text-secondary);
}
.chat-header-item {
  display: flex;
  align-items: center;
  width: 5rem;
}

.mine {
  float: right;
}

.search-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: var(--text-secondary)
}

.material-icons {
  font-size: 2rem;
}

.chat-header-item:first-child {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.chat-content {
  display: flex;
  flex-direction: column;
}

.chat-header-item:last-child {
  margin-left: auto;
}

.message {
  padding: 1rem;
  margin-bottom: 5px;
}

/*.message-sent + .message-sent {*/
/*  border-top-right-radius: 0;*/
/*  border-bottom-right-radius: 0;*/
/*}*/
/*.message:last-of-type {*/
/*  border-bottom-right-radius: 10px !important;*/
/*}*/
/*.message:first-of-type {*/
/*  border-bottom-right-radius: 0 !important;*/
/*}*/
/*.message:only-of-type {*/
/*  border-radius: 10px !important;*/
/*}*/


/*.message-incoming {*/
/*  background-color: rgb(101, 104, 102);*/
/*}*/
/*.message-incoming + .message-incoming {*/
/*  border-top-left-radius: 0;*/
/*  border-bottom-left-radius: 0;*/
/*}*/
/*.message-incoming:last-of-type {*/
/*  border-bottom-left-radius: 10px !important;*/
/*}*/
/*.message-incoming:first-of-type {*/
/*  border-bottom-left-radius: 0 !important;;*/
/*}*/
/*.message-incoming:only-of-type {*/
/*  border-radius: 10px !important;*/
/*}*/

#form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #202120;
  background-color: #fff;
  border-bottom: none;
  border-radius: .5rem .5rem 0 0;
  padding: 0 1rem;
}

.mat-form-field {
  line-height: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}
