<div class="chat">

  <h5> Messaging with: {{getTitle()}} </h5>

  <div *ngFor="let message of messages">
    <app-message-bubble [message]="message">
    </app-message-bubble>
  </div>

  <div layout layout-align="center" layout-padding id="form">
    <div layout="row" class="flex-center">
      <mat-form-field appearance="legacy" class="width-100">
        <input matInput type="text" id="message" placeholder="Message" [(ngModel)]="messageContent">
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        id="send"
        (click)="sendMessage()">
        Send
      </button>
    </div>
  </div>
</div>
