<div class="chat">

  <div class="chat-header">
    <div class="chat-header-item"> {{chatRoom? getTitle() : 'Unknown' }}</div>
    <button class="search-button chat-header-item">
      <mat-icon> search </mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="chat-content" (scroll)="scrolled($event) " #scrollFrame>
    <div class="chat-content-item" #message
         *ngFor="let message of messages">
      <app-message-bubble [message]="message"></app-message-bubble>
    </div>
  </div>

<!--  <div *ngIf="messages.length > 0; then hasMessages; else noMessages"></div>-->

<!--  <ng-template #hasMessages>-->

<!--    <div class="chat-content" (scroll)="scrolled($event) " #scrollFrame>-->
<!--      <div class="chat-content-item" #message-->
<!--           *ngFor="let message of messages">-->
<!--        <app-message-bubble [message]="message"></app-message-bubble>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template #noMessages>-->
<!--    <div class="chat-content">-->
<!--      <p> No messages yet </p>-->
<!--    </div>-->
<!--  </ng-template>-->

  <mat-divider></mat-divider>

  <div class="chat-footer">
    <div class="chat-footer-item input">
      <input type="text" class="input-form full-width" placeholder="Enter a message..."
             [(ngModel)]="messageContent" (keyup.enter)="sendMessage()">
    </div>

    <div class="chat-footer-item">
      <button class="attach-button" (click)="scrollToBottom()">
        <span class="material-icons attach-icon"> attach_file </span>
      </button>
    </div>

    <div class="chat-footer-item">
      <button class="send-button" (click)="sendMessage()">
        <span class="material-icons"> send </span>
      </button>
    </div>
  </div>
</div>
