<div class="chat">
  <div *ngFor="let chatPart of chat" [className]="chatPart.incoming ? 'incoming' : 'sent'">
    <div class="name">{{chatPart.name}}</div>
    <p *ngFor="let message of chatPart.messages" [className]="chatPart.incoming ? 'message message-incoming' : 'message message-sent'">{{message}}</p>
  </div>
  <form layout layout-align="center" layout-padding id="form">
    <div layout="row" class="flex-center">
      <mat-form-field appearance="legacy" class="width-100">
        <input matInput type="text" id="message" placeholder="Message">
      </mat-form-field>
      <button mat-raised-button color="primary" id="send">Send</button>
    </div>
  </form>
</div>
