  <div class="chat-space-container">

    <div class="left-section"
         *ngIf="section === 1; then chatList;">
    </div>
    <div class="left-section"
          *ngIf="section === 2; then contactList">
    </div>

    <div class="right-section">
      <app-chatroom [chatRoom]="chatRoomToOpen"></app-chatroom>
    </div>

    <ng-template #chatList>
      <app-chat-list></app-chat-list>
    </ng-template>

    <ng-template #contactList>
      <app-user-contact-list (openChatRoomEvent)="openChatRoom($event)"></app-user-contact-list>
    </ng-template>

    <ng-template #profile>
      <app-user-profile></app-user-profile>
    </ng-template>

  </div>
