  <div class="chat-space-container">
    <div class="left-section">
      <ng-container *ngComponentOutlet="dummyComponent">
      </ng-container>
    </div>

    <div *ngIf="chatRoomToOpen; then chatRoomChosen; else noChatRoomChosen">
    </div>

    <ng-template #chatRoomChosen>
      <app-chatroom class="right-section" [chatRoom]="chatRoomToOpen">
      </app-chatroom>
    </ng-template>

    <ng-template #noChatRoomChosen>
      <p class="right-section"> No chat room chosen </p>
    </ng-template>
  </div>
