.chat-list-item {
  height: 70px;
  position:relative;
  background: var(--bg-chatroom-primary);
  color: #d1d1d6;
  border-radius: 1rem;
  padding-bottom: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.chat-list-item:hover {
  background-color: var(--bg-components-primary-hover);
}

.chat-list-item-element {
  padding: 1rem;
}

.chat-list-item-element:first-child {
  flex: 5;
}

.chat-list-item-element:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex:1;
  color: var(--primary-violet);
}

.message {
  font-size: 12px;
  position: absolute;
  color: var(--text-gray);
}

.person {
  font-size: 16px;
}
