@media only screen and (min-width: 600px) {
  .user-profile-container {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .user-profile-container {
    margin-left: 2rem;
  }
}

.user-profile-container {
  height: 100vh;
  width: 25rem;
  padding: 2rem;
}
