<div class="chat">
  <div class="incoming">
    <p class="message message-incoming">Lorem Ipsum</p>
    <p class="message message-incoming">small text</p>
    <p class="message message-incoming">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula nisi, accumsan sed orci ut, pretium tempor augue. Fusce nec arcu at diam interdum ultricies et sit amet quam. Aliquam dictum mauris metus, a auctor nibh gravida ac. Vivamus felis leo, vulputate ut malesuada sed, scelerisque nec metus. </p>
    <p class="message message-incoming">Etiam sit amet efficitur nisl.</p>
    <p class="message message-incoming">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    <p class="message message-incoming">Sed bibendum mattis velit, vitae volutpat enim mollis nec. </p>
    <p class="message message-incoming">Quisque eu metus sed sapien laoreet hendrerit.</p>
  </div>
  <div class="sent">
    <p class="message message-sent">Donec pellentesque eget nibh at blandit. Vivamus venenatis sed augue sed efficitur</p>
  </div>
  <div class="incoming">
    <p class="message message-incoming">Lorem ipsum</p>
    <p class="message message-incoming">Praesent sed interdum erat, sit amet laoreet orci. Nam vel pulvinar diam. Nam eu euismod lectus. Integer tristique tincidunt pharetra. Vivamus tellus eros, mattis vel nunc a, vulputate molestie leo. Aliquam a urna efficitur, sollicitudin urna sed, imperdiet sapien. Sed eu faucibus neque.</p>
  </div>
</div>
