@media only screen and (min-width: 600px) {
  .main-container {
    margin-left: 5rem;
  }

  .chats-container {
    width: 25rem;
    height: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-left: 0;
  }
}

.chats-container {
  padding: 2rem;
}

.chats-header {
  display: flex;
  flex-direction: row;
}

.chats-header span {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  color: var(--bg-secondary);
}

.buttonReset {
  background-color: #deafaf;
}

.buttonSet {
  background-color: #b5b0d9;
}

.buttonGroup {
  float: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.buttonDivider {
  width: 1rem;
  height: auto;
  display: inline-block;
}

.datePicker {
  float: left;
  height: 3rem;
}

.left-section {
  float: left;
  width: 25rem;
  height:80%;
  overflow: hidden;
}

.left-section:hover {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg-primary-light);
}
