.chat-bubble {
  border-radius: 1.5rem;
  width: fit-content;
  max-width: 20rem;
  min-height: fit-content;
  max-height: fit-content;
  padding: 1rem;
  word-wrap: break-word;
  margin: 0.5rem 1.5rem;
}

.bubble-content {
  width: inherit;
  color: var(--text-secondary);
}

.mine {
  background-color: var(--bg-components-primary-dark-hover) ;
  float: right;
}

.others {
  background-color: var(--primary-violet);
}
