.btn-open-chat {
  color: var(--primary-violet);
  font-size: 3rem;
  border: transparent;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.btn-open-chat:hover {
  color: var(--primary-violet-hover);

}

.list-item {
  background-color: var(--bg-components-primary-dark);
  color: #f0eff5;
  font-size: 1rem;
  border-radius: 1rem;
  min-height: 3.3rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--bg-components-primary-dark-hover);
}

.list-item-element {
  display: flex;
  align-items: center;
}

.list-item-element:last-child {
  margin-left: auto;
  margin-right: 1rem;
}

.list-item-element:first-child {
  margin-left: 1rem;
}

#contact-name {
  color: #d1d1d6;
}
