@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Josefin+Sans&display=swap');

html, body { height: 100%; }

body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  --text-primary: #dfdff5;
  --text-secondary: #ececec;
  --bg-primary: #3b464f;
  --bg-primary-light: #46525f;

  --bg-secondary: #36404a;
  --bg-secondary-darken: #313a43;

  --bg-primary-hover: #738292;

  --bg-components-primary: #303841;
  --bg-components-primary-dark: #29323b;
  --bg-chatroom-primary: #293640;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
