html, body { height: 100%; }

body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;

  --text-primary: #eeeeee;
  --text-secondary: #dfdff5;
  --text-gray: #5b6167;

  --bg-primary: #3b464f;
  --bg-primary-light: #414851;

  --bg-secondary: #36404a;

  --bg-components-primary: #303841;
  --bg-components-primary-hover: #242c34;
  --bg-components-light: #738292;

  --bg-chatroom-primary: #282f37;
  --bg-chatroom-faded: #313d45;

  --primary-violet: #7269ef;
  --primary-violet-hover: #5a5ed6;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
