<div class="main-container">
  <div class="contacts-container">

    <div class="contacts-header">
      <h2> Contacts </h2>
      <button mat-button
              id="add-contact">
        <span class="material-icons">person_add_alt_1</span>
      </button>
    </div>

    <form class="example-form">
      <mat-form-field class="full-width">
        <mat-label>Find a user</mat-label>
        <label>
          <input matInput placeholder="Jan Kowalski">
        </label>
      </mat-form-field>
    </form>

    <div class="contact-list">
      <mat-nav-list *ngFor="let user of users">
        <app-contact-list-item [user]="user"
                               (click)="onUserSelected(user)"

        ></app-contact-list-item>
      </mat-nav-list>
  </div>
</div>

</div>




