@media only screen and (min-width: 600px) {
  .main-container {
    margin-left: 5rem;
  }

  .contacts-container {
    width: 25rem;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-left: 0;
  }
}

.contacts-container {
  margin: 0 2rem;
}

.main-container {
  background-color: var(--bg-components-primary);
  color: var(--text-primary);
  height: 100vh;
}

.contacts-header {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.contact-list {
  overflow-y:hidden;
  height: 80%;
}

.contact-list:hover {
  overflow-y: auto;
}

.input-form {
  width: 100%;
  box-sizing: border-box;
  min-height: 2.5rem;
  height: fit-content;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 1rem 0;
  border: none;
  color: var(--text-secondary);
  background-color: var(--bg-chatroom-faded);
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow-x: auto;
}

.input-form:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-components-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg-components-light);
}

::ng-deep mat-form-field {
  color: var(--text-primary) !important;
}

::ng-deep mat-form-field  .mat-form-field-label {
  color: var(--text-primary)!important;
}

::ng-deep mat-form-field .mat-form-field-underline {
  background-color: var(--text-primary)!important;
}

::ng-deep mat-form-field .mat-input-element {
  caret-color: var(--primary-violet) !important;
}

::ng-deep mat-form-field .mat-form-field-ripple {
  background-color: var(--primary-violet) !important;
}

