@media only screen and (min-width: 600px) {
  .main-container {
    margin-left: 5rem;
  }

  .contacts-container {
    width: 25rem;
    height: 100vh;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-left: 0;
  }
}

.contacts-container {
  margin: 2rem;
}
.contacts-header {
  display: flex;
  flex-direction: row;
}

#add-contact {
  margin-left: auto;
}
.contacts-header span {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.contact-list {
  overflow-y:hidden;
  height: 80%;
}

.contact-list:hover {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg-primary-light);
}

